<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
		<link rel="stylesheet" href="/assets/css/normalize.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<title>To-Do List MongoDB</title>
	</head>
	<body>
		<div class="todo-container">
			<h2>To-Do List</h2>
			<div class="todo">
				<form action="/" class="todo-header" method="POST">
					<input type="text" name="content" />
					<button type="submit">
                        <span class="fas fa-plus"></span>
                    </button>
				</form>
				
				<ul class="todo-list">
					<% todoTasks.forEach(details => { %>
                        <% if (details._id == idTask) { %>
                            <li class="todo-list-item">
                                <form action="/edit/<%= details._id %>" method="POST">
                                    <input type="text" value="<%= details.content %>" name="content">
                                    <button type="submit">Confirmer</button>
                                    <a href="/" class="cancel">Annuler</a>
                                </form>
                            </li>
                        <% } else { %>
                            <li class="todo-list-item">
                                <div class="todo-list-item-name">
                                    <%= details.content %>
                                </div>
                                <a href="/edit/<%= details._id %>" class="edit">
                                    <span class="fas fa-edit"></span>
                                </a>
                                <a href="/remove/<%= details._id %>" class="remove">
                                    <class class="fas fa-times"></class>
                                </a>
                            </li>
                        <% } %>
					<% }); %>
				</ul>
			</div>
		</div>
	</body>
</html>